@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавить товар</title>
</head>
<body>
    <form method="post">
        <p>
            <label>Наименование</label><br />
            <input type="text" name="Name" />
        </p>

        <p>
            <label>Цена</label><br />
            <input type="number" name="Price" />
        </p>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>