@model IEnumerable<Bakery.Models.Product>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Пекарня</title>
</head>
<body>
    <h3>Товары</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            @if (User.IsInRole(Constants.RoleNames.Admin))
            {
                <td></td>
            }
            <td></td>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                @if (User.IsInRole(Constants.RoleNames.Admin))
                {
                    <td>
                        <form method="post" action="~/Home/DeleteProduct">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                }
                <td>
                    <form method="post" action="~/Cart/Add">
                        <input type="hidden" name="productId" value="@product.Id"/>
                        <button type="submit">Купить</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    
    @if (User.IsInRole(Constants.RoleNames.Admin))
    {
        <a href="~/Home/AddProduct">Добавить товар</a>
    }
    
    <a href="~/Cart/Index">Открыть корзину</a>
    <a href="~/Home/Logout">Выйти</a>
    <a href="~/Home/ShowOrders">Заказы</a>
</body>
</html>