@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
</head>
<body>
    <h3>Корзина</h3>
    <table>
        <tr>
            <td>Товар</td>
            <td>Количество</td>
            <td>Цена за ед.</td>
            <td>Сумма</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <div id="cartItems">
            @Html.Partial("CartItems")
        </div>
    </table>
    <a href="~/Home/Index">Перейти в каталог</a>
    <a href="~/Cart/Checkout">Оформить заказ</a>
</body>
</html>