@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <h3>Корзина</h3>
    <table>
        <tr>
            <td>Товар</td>
            <td>Количество</td>
            <td>Цена за ед.</td>
            <td>Сумма</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <div id="cartItems">
            @await Html.PartialAsync("CartItems")
            @* @Html.Partial("CartItems") *@
        </div>
    </table>
    <a href="~/Home/Index">Перейти в каталог</a>
    <a href="~/Cart/Checkout">Оформить заказ</a>
</body>
</html>